<style>
h1 {text-align: center;}
p {text-align: center;}
div {text-align: center;}
</style>
<h1 style="background-color:powderblue;">Vietnamese Food Classification App</h1>
<p>Glad you are here, foodie. Thank you for choosing Vietnam as your travel destination. Hope my app will guide you and help you know more about our amazing cuisine. </p>

<form method="post" enctype="multipart/form-data" style="margin-top: 50px; margin-bottom: 30px;">
    {% csrf_token %}
    {{ form }}
    <button type="submit" id="btnUpload" class="btn btn-primary">Upload</button>
</form>

{% if image_uri is not None %}
    {% if predicted_label is not None %}
        <div class="alert alert-primary" role="alert">
            Predicted label: <b>{{ predicted_label }}</b>
        </div>
    {% else %}
        <div class="alert alert-danger" role="alert">
            Prediction error. No label predicted.
        </div>
    {% endif %}

    <img src="{{ image_uri }}" class="img-fluid" alt="Uploaded image"
         style="max-width: min(500px, 100%); height: auto; margin-top: 30px;">
{% endif %}